.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

#white-container {
    width: 40%;
    min-height: 40%;
    max-height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -170%);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.answer {
    display: none;
}

#top-background-image {
    background-image: url(images/background-pattern-desktop.svg);
    background-color: rgb(32, 1, 53);
    height: 300px;
}

#bottom-color {
    background-color: hsl(275, 100%, 97%);
    height: 60vh;
}

body {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: center;
    align-content: center;
}

@media (max-width: 768px) {
    #white-container {
        width: 80%;
        /* Adjust the width for smaller screens if needed */
        height: auto;
        /* Adjust the height for smaller screens if needed */
        transform: translate(-50%, -100%);
        /* Adjust the vertical translation */
    }
}

/* Media query for devices with a max width of 480px (mobile phones) */

@media (max-width: 480px) {
    #white-container {
        width: 90%;
        /* Adjust the width for mobile screens if needed */
        height: auto;
        /* Adjust the height for mobile screens if needed */
        transform: translate(-50%, -50%);
        /* Adjust the vertical translation */
    }
}